Client2/Service References/ServiceReference1/ServerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ws0210:8090/TransactionServer/Service/meta?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ws0210:8090/TransactionServer/Service/meta?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ws0210:8090/TransactionServer/Service/meta?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/iExchange.Common" />
      <xsd:import schemaLocation="http://ws0210:8090/TransactionServer/Service/meta?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Protocal" />
      <xsd:import schemaLocation="http://ws0210:8090/TransactionServer/Service/meta?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Protocal.Physical" />
      <xsd:import schemaLocation="http://ws0210:8090/TransactionServer/Service/meta?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServerService_PlaceByXml_InputMessage">
    <wsdl:part name="parameters" element="tns:PlaceByXml" />
  </wsdl:message>
  <wsdl:message name="IServerService_PlaceByXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlaceByXmlResponse" />
  </wsdl:message>
  <wsdl:message name="IServerService_Place_InputMessage">
    <wsdl:part name="parameters" element="tns:Place" />
  </wsdl:message>
  <wsdl:message name="IServerService_Place_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlaceResponse" />
  </wsdl:message>
  <wsdl:message name="IServerService_PlaceByModel_InputMessage">
    <wsdl:part name="parameters" element="tns:PlaceByModel" />
  </wsdl:message>
  <wsdl:message name="IServerService_PlaceByModel_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlaceByModelResponse" />
  </wsdl:message>
  <wsdl:message name="IServerService_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IServerService_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="IServerService_GetInitData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInitData" />
  </wsdl:message>
  <wsdl:message name="IServerService_GetInitData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInitDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServerService_GetOrderInstalments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderInstalments" />
  </wsdl:message>
  <wsdl:message name="IServerService_GetOrderInstalments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderInstalmentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IServerService">
    <wsdl:operation name="PlaceByXml">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/PlaceByXml" message="tns:IServerService_PlaceByXml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/PlaceByXmlResponse" message="tns:IServerService_PlaceByXml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Place">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/Place" message="tns:IServerService_Place_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/PlaceResponse" message="tns:IServerService_Place_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlaceByModel">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/PlaceByModel" message="tns:IServerService_PlaceByModel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/PlaceByModelResponse" message="tns:IServerService_PlaceByModel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/Test" message="tns:IServerService_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/TestResponse" message="tns:IServerService_Test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInitData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/GetInitData" message="tns:IServerService_GetInitData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/GetInitDataResponse" message="tns:IServerService_GetInitData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderInstalments">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/GetOrderInstalments" message="tns:IServerService_GetOrderInstalments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/GetOrderInstalmentsResponse" message="tns:IServerService_GetOrderInstalments_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServerService" type="tns:IServerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PlaceByXml">
      <soap:operation soapAction="http://tempuri.org/IServerService/PlaceByXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Place">
      <soap:operation soapAction="http://tempuri.org/IServerService/Place" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceByModel">
      <soap:operation soapAction="http://tempuri.org/IServerService/PlaceByModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/IServerService/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInitData">
      <soap:operation soapAction="http://tempuri.org/IServerService/GetInitData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderInstalments">
      <soap:operation soapAction="http://tempuri.org/IServerService/GetOrderInstalments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServerService">
    <wsdl:port name="BasicHttpBinding_IServerService" binding="tns:BasicHttpBinding_IServerService">
      <soap:address location="http://ws0210:8090/TransactionServer/Service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>